/** Header **/
.perfil{
    position:absolute;
    top:20px;
    left:50%;
    margin-left: -60px;
    
    width:120px;
    height:120px;
    
    background:#e7e7e7;
    border:2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    border-radius: 50%;
}